nav {
background-color: gray;
text-align: left;
position: relative;
padding-left: 10px;
bottom: 30px
}

.boxed {

border-style: dotted;
border-color: green;
width: 600px;
height: 300px;
position: absolute;
padding: 10px;
top: 50%;
left: 50%;
margin-left: -280px;
margin-top: -100px;


}

.spacecat {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 300px;
	right: 100px;
	left: 200px;

}

.spacedog {
 width: 200px;
 height: 200px;
 position: absolute;
 top: 400px;
 right: 100px;
 left: 700px;
 }
html { 
  background: url(file:///Users/alramirez/thinkful_projects/css_layout_exercises_starter_files/images/outerspace_landscape.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
