nav {
background-color: gray;
text-align: left;
position: fixed;
padding-left: 10px;
left: 0;
right: 0;
top: 0;

}

nav img {
border-radius: 50%

}

nav ul {
position: fixed;
right: 25px;
top: 5px;

}

nav ul li {
display: inline-block;
margin-left: 50px;

}

.boxed {

border-style: dotted;
border-color: green;
width: 600px;
height: 300px;
position: relative;
padding: 10px;
top: 50%;

margin: 0 auto;
margin-top: 150px;


}

.spacecat {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;

}

.spacedog {
 width: 200px;
 height: 200px;
 position: absolute;
 right: 0px;
 bottom: 0px;
 }
html { 
  background: url(file:///Users/alramirez/thinkful_projects/css_layout_exercises_starter_files/images/outerspace_landscape.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
